data_analysis_histopath_gene/00_DA_make_csv.py
data_analysis_histopath_gene/01_DA_plots.py
data_analysis_histopath_gene/DA_filtered_tcga_brca_tile_meta_gene_mki67.csv
data_analysis_histopath_gene/DA_summary_statistics.csv
simulation/__init__.py
simulation/dataset.py
simulation/experiment_01_vary_m.py
simulation/experiment_02_vary_sigma.py
simulation/experiment_04_abs_minibatch_size.py
simulation/experiment_05_dominating_groups.py
simulation/model.py
simulation/simulate.py
simulation/train.py
simulation/utils.py
simulation/results/01_exp_vary_m/00_e01_results_to_flat_df.py
simulation/results/01_exp_vary_m/01_e01_plots_losses.py
simulation/results/01_exp_vary_m/02_e01_plots_sigmas.py
simulation/results/01_exp_vary_m/03_e01_plots__best_losses_over_m.py
simulation/results/01_exp_vary_m/04_e01_plots__best_sigmas_over_m.py
simulation/results/01_exp_vary_m/05_e01_plots_residuals_MSE.py
simulation/results/01_exp_vary_m/06_e01_plots_residuals_GRID.py
simulation/results/01_exp_vary_m/07_e01_plots_res_y_hat_MSE.py
simulation/results/01_exp_vary_m/08_e01_plots_res_y_hat_GRID.py
simulation/results/01_exp_vary_m/results_flat.csv
simulation/results/01_exp_vary_m/data/simulated_dataset.pkl
simulation/results/02_exp_vary_sigma/00_e02_results_to_flat_df.py
simulation/results/02_exp_vary_sigma/01_e02_plots_losses.py
simulation/results/02_exp_vary_sigma/02_e02_plots_sigmas.py
simulation/results/02_exp_vary_sigma/03_e02_plots_best_losses_over_m.py
simulation/results/02_exp_vary_sigma/04_e02_plots_best_sigmas_over_m.py
simulation/results/02_exp_vary_sigma/05_e02_plots_residuals_MSE.py
simulation/results/02_exp_vary_sigma/06_e02_plots_residuals_GRID.py
simulation/results/02_exp_vary_sigma/07_e02_plots_res_y_hat_MSE.py
simulation/results/02_exp_vary_sigma/08_e02_plots_res_y_hat_GRID.py
simulation/results/02_exp_vary_sigma/results_flat.csv
simulation/results/02_exp_vary_sigma/data/simulated_dataset_sigb0010.pkl
simulation/results/02_exp_vary_sigma/data/simulated_dataset_sigb0025.pkl
simulation/results/02_exp_vary_sigma/data/simulated_dataset_sigb0050.pkl
simulation/results/02_exp_vary_sigma/data/simulated_dataset_sigb0100.pkl
simulation/results/02_exp_vary_sigma/data/simulated_dataset_sigb0150.pkl
simulation/results/02_exp_vary_sigma/data/simulated_dataset_sigb0200.pkl
simulation/results/02_exp_vary_sigma/data/simulated_dataset_sigb0500.pkl
simulation/results/02_exp_vary_sigma/data/simulated_dataset_sigb1000.pkl
simulation/results/02_exp_vary_sigma/data/simulated_dataset_sigb2000.pkl
simulation/results/02_exp_vary_sigma/data/simulated_dataset_sigb3000.pkl
simulation/results/04_exp_sig1_only_abs_minibatch_size/00_e04_results_to_flat_df.py
simulation/results/04_exp_sig1_only_abs_minibatch_size/01_e04_plots_losses.py
simulation/results/04_exp_sig1_only_abs_minibatch_size/02_e04_plots_sigmas.py
simulation/results/04_exp_sig1_only_abs_minibatch_size/03_e04_plots_best_losses_over_m.py
simulation/results/04_exp_sig1_only_abs_minibatch_size/04_e04_plots_best_sigmas_over_m.py
simulation/results/04_exp_sig1_only_abs_minibatch_size/05_e04_plots_residuals_MSE.py
simulation/results/04_exp_sig1_only_abs_minibatch_size/06_e04_plots_residuals_GRID.py
simulation/results/04_exp_sig1_only_abs_minibatch_size/07_e04_plots_res_y_hat_MSE.py
simulation/results/04_exp_sig1_only_abs_minibatch_size/08_e04_plots_res_y_hat_GRID.py
simulation/results/04_exp_sig1_only_abs_minibatch_size/results_flat.csv
simulation/results/04_exp_sig1_only_abs_minibatch_size/data/simulated_dataset_sigb0100.pkl
simulation/results/05_exp_dominating_groups/00_e05_results_to_flat_df.py
simulation/results/05_exp_dominating_groups/01_e05_plots_losses.py
simulation/results/05_exp_dominating_groups/02_e05_plots_sigmas.py
simulation/results/05_exp_dominating_groups/03_e05_plots_best_losses_over_m.py
simulation/results/05_exp_dominating_groups/04_e05_plots_best_sigmas_over_m.py
simulation/results/05_exp_dominating_groups/05_e05_plots_residuals_MSE.py
simulation/results/05_exp_dominating_groups/06_e05_plots_residuals_GRID.py
simulation/results/05_exp_dominating_groups/07_e05_plots_res_y_hat_MSE.py
simulation/results/05_exp_dominating_groups/08_e05_plots_res_y_hat_GRID.py
simulation/results/05_exp_dominating_groups/09_e05_plots_b_bias.py
simulation/results/05_exp_dominating_groups/results_flat.csv
simulation/results/05_exp_dominating_groups/data/simulated_dataset_sigb0100.pkl
structure.txt
feature_extraction_note.txt
